/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Tilt+Warp&display=swap');

html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

body, button {
  margin: 0;
  color: #000;
  font-family: 'Montserrat';
  font-size: 1rem;
}

.balance, .margins, .pho, .household, .crown{
  margin: 0 1.25rem;
}

 ul {
  padding-left: 0;
}

h3, h4 {
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
}

/* NAVIGATION */
.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #578100;
  height:auto;
  width: 100%; 
  z-index: 10;

  
}

.nav {
  position: fixed;
  top: 65px;
  background-color: #578100;
  height: 100vh;
  transition: all 0.4s ease-in;
  width: 100%;
  left: -50%;
  transform: translateX(-50%);
}

.nav ul {
  list-style: none;
  margin-left:3rem;
}

 .nav a {
  text-decoration: none;
  font-family: 'montserrat';
  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  line-height: 3.75rem;
 }

.navlogo {
  height: 1.6875rem;
  width: 12rem;
}

.bar {
  background-color: #fff;
  width: 1.37856rem;
  height: 0.1875rem;
  border-radius: .3rem;
  margin: 0.313rem 0;
  transition: all 0.3s ease-in-out;
}

/* JavaScript */
.nav--toggle {
  left: 50% !important;
}
.hamburgerMenu--toggle .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburgerMenu--toggle .bar:nth-child(2) {
  opacity: 0;
}
.hamburgerMenu--toggle .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


/* BUTTON */ 
.orangeButton {
  width: 10.6875rem;
  height: 2.75rem; 
  border-radius: 2rem;
  background-color:#FF9900;
  font-size: 0.9375rem;
  font-weight: 800;
  border-style: none;
  align-self: center;
}

/* HOME PAGE */
/* OPENER */
/* VIDEO *   */

.flame {
  position: absolute;
  bottom: -1rem;
  left: 3.5rem;
  z-index: 1;
}

.clipPath {
  position: relative;
  display: flex;
  align-items: end;
}

video {
  object-fit: cover;
  height: 25rem;
  width: 100%;
}
.clipPath svg {
  position: absolute;
  display: flex;
  width: 100%;
  height: auto;

}

h2 {
  font-family: 'tilt warp';
  font-size: 50px;
  margin: 0;
  text-align: center;
  line-height: 3rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

.opener span {
  font-size: 2rem;
  line-height: 2rem;
}

.opener {
  display: flex;
  flex-direction: column;

}
.opener p {
  font-weight: 700;
  margin-bottom: 1.4rem;
}

/* recipe cards */
.recipeCard {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: .63rem;
  margin-bottom: 3.14rem;
} 

.recipeCard button {
  margin: 2rem
}

.overlapSticker {
  position: relative;
  margin-top: 4.31rem;
}

.allstarSticker {
  position: absolute;
  top: -3rem;
  right: -1rem;
}
.recipeCard img {
  object-fit: cover;
  height: 13.75rem;
  border-radius: .63rem .63rem 0 0;
}

.description {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 1.44rem 1.44rem 0 1.44rem;
  gap: .75rem;
}

.description p {
  margin: 0;
  font-weight: 400;
}

.description button {
  margin: .75rem 0 2rem 0;
}

 h3 {
  font-size: 1.5625rem;
  text-transform: uppercase;
  font-weight: 900;
 }

.description h4 { 
  font-weight: 600;
  text-transform: uppercase;
  color:#BD5800;
}

.overlayStickers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: 4rem 0;
}

.greenWave {
  max-height: 3.74944rem;
  width: 100%;
}

.alarm{
  position: absolute;
}


.bowlRice {
  position: absolute;
  left: 6.5rem;
  top: -2rem;
}

/* TREND ALERT */
.trending {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden  ;
}

.buzzOne {
  position: relative;
  left: 2.5rem;
  top: -1.5rem;
  rotate: -65deg;
  margin-right: 4rem;
}

.buzzTwo {
  position: relative;
  right: 2.5rem;
  top: -1rem;
  rotate: 35deg;
  margin-left: 4rem;
}

/* Carousel */
.carousel {
  max-width: 24.375rem;
  position: relative;
  margin: 0 auto;
  padding-left: 3rem;
}

.dots {
  display: flex;
  justify-content: center;
}

.dots li {
  display: inline-block;
  background-color:#000;
  border-radius: 30px;
  margin: 0 10px;
  width: 7px;
  height: 7px;
  opacity: .2;
}

.dots li.active {
  opacity: 1;
}

.arrows {
  border-radius: 30px;
  position: absolute;
  height: 44px;
  width: 44px;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 5px;
  font-size: 1.5rem;
  top: 50%;

}

.previous {
  left: 2rem;
}

.next {
  right: 2rem;
}


/* Bleed-Cards */

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  overflow: scroll;

}
.cards li {
  position: relative;
  list-style: none;
  text-align: center;
}

.darkOverlay {
  position: relative;
  background: linear-gradient(
    rgba(0, 0, 0, 0.0) 0%,
    rgba(0, 0, 0, 0) 20%,
    rgb(0, 0, 0) 100%
  );
  border-radius: .63rem;
} 
.overlapText {
  position: absolute;
  bottom: 2rem; 
  width: 100%;
  padding: 0 1rem;
}

.overlapText h4 {
  color:#FF9900;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: .3rem;
}
.overlapText h3 {
  color:#ffffff;
  text-transform: uppercase;
}
.cards img {
  position: relative;
  object-fit: cover;
  width: 15.5625rem;
  height: 29.3125rem; 
  z-index: -1;
  border-radius: .63rem;
}
.bleeds {
  z-index: -100rem;
}

/* Category */

.chopstick {
  position: relative;
  display: flex;
}

.categoryTitle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underline {
  position: relative;
  bottom: 27px;
  z-index: -1;
}

.cards button {
  width: 10.6875rem;
  height: 2.75rem; 
  border-radius: 2rem;
  font-size: 0.9375rem;
  font-weight: 800;
  background-color: transparent;
  border:4px solid #fff;
  color: #fff;
  margin-top: 1rem;
  align-self: center;
}

/* Maybe this can help you */
.end h2 {
  padding: 0 2rem;
}

.end img {
  position: absolute;
  bottom: 10%;
  right: 15%;
}

.end {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.end button {
  position: relative;
  margin-top: 1.3rem;
}

/* COURSES PAGE */
.pageName, .recipePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #578100;
  padding: 2.5rem;
}
.pageName, .recipePage h2 {
  position: relative;
  color: #fff;
}

.pageName svg {
  width: 100%;
  height: auto;
}

.titles h2 {
  text-align: left;
  font-size: 2.5rem;
  margin-top: 5rem;
  margin-bottom: .2rem;
}

.titles p {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.2rem;
  margin-bottom: .2rem;
}

.titles a {
  text-decoration: none;
  color: #BD5800;
  font-size: 0.9375rem;
  font-weight: 700;
}

/* LUNCH PAGE*/
.icons img {
  width: 2.11769rem;
  height: 2.13244rem;
}

.icons {
  display: grid;
  grid-template-columns: .3fr 1fr .3fr 1fr;
  align-items: center;
  vertical-align: middle;
  gap: 1rem .6rem;
}

.lunchGrid {
  margin-top: 3rem;
  margin-bottom: 3.14rem;
}

/* RECIPE PAGE */
.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe h2 {
  margin-top: 3rem;
}

.recipePage h2 {
  text-transform: uppercase;
  margin: 0;
}

.recipePage h4 {
  color: #fff ;
  text-align: center;
  font-weight:600;
  width: 100%;
  text-transform: uppercase;
  margin: .5rem 0 1.38rem 0;
}

.recipePage .icons p{
  color: #fff;
  font-weight: 700;
}

.imageOverlap .wave {
  position: absolute;
}
  
.imageOverlap img {
  object-fit: cover;
  position: relative;
  left: 0rem;
  z-index: -1;
  block-size: auto;
  max-inline-size: 100%;
}

.imageOverlap {
  block-size: auto;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.ingredientsCard {
  background-color: #FF9900;
  padding: 1.3rem;
  width: 22.0625rem;  
  height: 37rem;
  border-radius: .63rem;
  margin: 3rem 0;
}

.ingredientsCard h3 {
  margin-bottom: 1.25rem;
}
.ingredientsCard h5 {
  margin: 0;
  margin-bottom: .35rem;
  text-transform: uppercase;
}

.ingredientsCard ul{
  margin: 0;
  margin-left: 1.2rem;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

.listButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.listButtons button{
 border-style: none;
 text-decoration-line: underline;
 text-transform: uppercase;
 margin: 1rem 2rem
}

/* LIST VIEW */

ol {
  line-height:1.5rem;
}
.listView li {
  margin-bottom: 1rem;
}

/* CARD VIEW */

.cardView ol {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow: scroll;
  max-width: 24.375rem;
  padding-right: 2rem;
}

.step {
  list-style: none;
}
.stepCards {
  display: flex;
  flex-direction: column;
  width: 21.875rem;
  height: 30.83813rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: .63rem;
  margin-bottom: 3.14rem;

}

.stepCards img {
  object-fit: cover;
  height: 13rem;
  border-radius: .63rem .63rem 0 0;
}

.stepCards p {
  padding: 1rem;
}

.numberSystem {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.numberSystem button {
  border: none;
  background-color: transparent;
}
.numberSystem ol {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600; 
  list-style: none;
}

/* FORMS */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
font-size: 1.5625rem;
font-weight: 900;
line-height: 1.75rem;
text-transform: uppercase;
margin-top: 2rem;
}

input {
  min-width: 21.875rem;;
  min-height: 2.75rem;
  margin: .875rem 0;
  border-radius: 0.625rem;
  border: 2px solid #FF9900;
  padding: 1rem
}

form button {
  margin-top: 1rem
}

.firstcomment {
  margin: 6rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
  

.commentBox {
  min-height: 6.0625rem;
}

/* ABOUT PAGE */
.balance {
  text-align: center;
  text-transform: uppercase;
  margin-top: 4rem;
}

.balance em {
  font-weight: bold;
}

.balance h3 {
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
  line-height: 138.5%; 
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.emphasis {
  font-weight: 700;
  font-size: 1.25rem;
}

.vietnamMap {
  position:relative;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.imageMask {
  object-fit: cover;
  position: relative;
  z-index: -1;
  block-size: auto;
  max-inline-size: 100%;
  width: 100%;
  max-height: 34.4375rem;
  margin: 3rem 0 2rem 0;
} 

.infoCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightTab, .leftTab {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 22.3125rem;
  height: 10.625rem;
  margin: .75em 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.0) 0%,
    rgba(0, 0, 0, 0) 20%,
    rgb(0, 0, 0) 100%
  );
  border-radius: .63rem;
}

.rightTab img, .leftTab img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: .63rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.rightTab div, .leftTab div {
  position: absolute;
  text-align: center;
  bottom: .4rem;
  color: #fff;
  width: 100%;
}

.rightTab p, .leftTab p {
  color:#FF9900;
  font-size: 0.9375rem;
  font-weight: 700;
}

.rightTab {
  margin-top: 3rem;
}

.margins em {
  font-weight: bold;
}

.pho{
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 1rem;
}

.pho header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pho img {
  max-width: 10rem;
}

.pho em {
  font-weight: bold;
  line-height: 1.5rem;
}

.pho br {
  margin: 2rem 0;
}

/* ICONIC INGREDIENTS */
.crown {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.crown img {
  position:absolute;
  top: -3rem;
  left: 2rem
}

/* HOUSEHOLD ESSENTIALS */
.household {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}


.household button {
  min-width: 21.875rem;
}
.household h2 {
  margin: 3rem;
}
.ingredientsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem 0;
  gap: 1rem;
}

.ingredientsItem {
  display: grid;
  justify-items: center;
  gap: .5rem;
  align-items: center;
  min-width:10.6875rem ;
  min-height: 10.625rem;;
  padding: 1rem;
  border-radius: 0.625rem;
  border: 2px solid #D9D9D9;
}



/* FOOTER */


footer {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.wave {
  height: auto;
  width: 100%;
}

.footlogo {
  width: 7.625rem;
  height: 4.75rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  font-weight: 400;
  background-color: #578100;
  padding: 1.5rem 3rem 4.3rem 3rem;
  text-align: center;
} 

.footerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

footer ul {
  list-style: none;
  text-align: right;
  line-height: 2rem;
}

.request {
  width: 15.5rem;
  margin-top: 1.8rem;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.request::after, .titles a::after{
  content: "→";
}

.request {
  color:#FF9900
}